<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.biodigital.kotlinapp">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HumanActivity">
        </activity>
        <meta-data android:value="95097501696d28102d5a8ec51e516e7bce1be0c6" android:name="com.biodigital.humansdk.API_KEY" />
        <meta-data android:value="8221767b3c14403447597feeefc38bf1a0e772b1" android:name="com.biodigital.humansdk.API_SECRET" />
    </application>

</manifest>